@using CoptLib.Models
@using CoptLib.Models.Text
@using CoptLib.Extensions

@inject NavigationManager NavigationManager

@code
{
    [Parameter]
    public List<List<IDefinition>> Table { get; set; } = new();

    public List<Doc> Docs { get; } = [];
    
    private int fontSize = 18;
}

@functions
{
    static string HandleInline(Inline inline)
    {
        (string css, List<string> cl) = HandleText(inline);
        var cls = string.Join(' ', cl);

        string inner = inline switch
        {
            Span span => string.Join(string.Empty, span.Inlines.Select(HandleInline)),
            _ => inline.ToString()!
        };

        return $"<span class=\"{cls}\" style=\"{css}\">{inner}</span>";
    }

    static (string css, List<string> cl) HandleText(object item)
    {
        string css = string.Empty;
        List<string> classes = new();


        if (item is IDefinition def)
        {
            var langInfo = def.GetLanguage();

            if (langInfo.Culture is { TextInfo.IsRightToLeft: true })
                css += "direction: rtl;";

            classes.Add(langInfo.Known.ToString().ToLowerInvariant());
        }

        if (item is Comment)
        {
            classes.Add("comment");
        }

        return (css, classes);
    }

    private void OnDocSelectionChanged(ChangeEventArgs args)
    {
        var url = NavigationManager.Uri;
        UriBuilder builder = new(url)
        {
            Fragment = args.Value?.ToString()
        };
        NavigationManager.NavigateTo(builder.ToString());
    }
}

<link rel="stylesheet" href="css/app.css" />
<link rel="stylesheet" href="css/docText.css" />

<div class="input-grid">
    <div class="input-group" style="grid-column: 1;">
        <span class="input-group-text" id="ftsz-lbl">Font Size</span>
        <InputNumber class="form-control" @bind-Value="fontSize" aria-label="Font Size" aria-describedby="ftsz-lbl" />
    </div>

    <div class="input-group" style="grid-column: 2">
        <span class="input-group-text" id="docs-lbl">Docs</span>
        <select name="docs" id="docs" class="form-control" @oninput="OnDocSelectionChanged"
                title="Skip to document" aria-describedby="docs-lbl">
            <option value="top">(Top)</option>
            @foreach (var doc in Docs)
            {
                <option value="@doc.Key">@doc.Name</option>
            }
            
            <!-- Hack to prevent duplicates after refreshing the layout -->
            @{Docs.Clear();}
        </select>
    </div>
</div>

<hr/>

<style>
    table {
        font-size: @(fontSize)px;
    }
</style>

<div id="top" class="docName"></div>

<table>
    @{
        Doc? currentDoc = null;

        @foreach (var row in Table)
        {
            if (row is [Doc doc])
            {
                // Set flag so the title of the translations
                // can be displayed in bold font
                currentDoc = doc;
                Docs.Add(doc);
                continue;
            }

            <tr>
                @foreach (var cell in row)
                {
                    object item = cell;
                    string css = string.Empty;
                    string? text = null;
                    string? docKey = currentDoc?.Key;
                    List<string> cl = new();

                    if (item is Section section)
                    {
                        item = section.Title;
                        cl.Add(currentDoc is null ? "sectionTitle" : "docName");
                    }

                    if (item is IContent content)
                    {
                        if (content.Inlines is [Run singleRun])
                        {
                            // Avoid using multiple inlines when Text can be used directly
                            text = singleRun.Text;
                        }
                        else
                        {
                            // Convert the CoptLib InlineCollection to HTML
                            foreach (var inline in content.Inlines)
                            {
                                HandleInline(inline);
                            }
                        }
                    }

                    // Handle language & font
                    text ??= item?.ToString();
                    var (css2, cl2) = HandleText(item!);
                    css += css2;
                    cl.AddRange(cl2);

                    if (text != null)
                    {
                        <td id="@docKey" class="@string.Join(' ', cl)" style="@css">@text</td>
                    }
                }
            </tr>

            currentDoc = null;
        }
    }
</table>
