@using CoptLib.Models
@using CopticChanterNet.Models
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env

@{
    var Model = new DocSetViewModel(env);
    Model.LoadSetCommand.Execute(null);
    ViewData["Title"] = Model.Title;
}

@if (Model.LoadSetCommand.IsRunning)
{
    <p>Loading, please be patient...</p>
}
else
{
    <h1>@(Model.Title)</h1>

    <table>
        @foreach (var row in Model.Layout)
        {
            <tr>
                @foreach (var cell in row)
                {
                    object item = cell;
                    string css = string.Empty;
                    string? text = item?.ToString();
                    List<string> cl = new();

                    if (item is Section section)
                    {
                        item = section.Title;
                        cl.Add("sectionTitle");
                        text = null;
                    }
                    else if (item is Doc doc)
                    {
                        <td class="docName" colspan="100">@doc.Name</td>
                        continue;
                    }

                    if (item is IContent content)
                    {
                        text = content.Text;
                    }
                    if (item is IMultilingual multi)
                    {
                        cl.Add(multi.Language.ToString().ToLower());
                    }

                    if (text != null)
                    {
                        <td class="@string.Join(' ', cl)" style="@css">@text</td>
                    }
                }
            </tr>
        }
    </table>
}
